// VARIABLES //

// COLOURS

$primary-color: #81003c;
$secondary-color: #ff7600;
$tertiary-color: #f4e6e8;
$font-color: #707070;

//FONTS

$heading-font: 'Maitree', serif;
$body-font: 'Montserrat', sans-serif;

// MIXINS // 

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}






