button {
    font-family: $body-font;
    color: $secondary-color;
}

header {
    background-image: url('../assets/headerBackground.svg');
    height: 100vh;
    background-position: bottom;
    background-size: cover;
}

button {
    background-color: white;
    font-family: $body-font;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 2rem;
}

.mobileImg {
    display: none;
}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li  {
    padding: 0 30px;
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: bold;
    color: $primary-color;
    font-size: 2rem;
}

nav ul li:last-child {
    padding-right: 0;
}

.logo {
    width: 80px;
    height: 80px;
}

.headerContent {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInfo {
    text-align: left;
}

.headerInfo h1 {
    font-family: $heading-font;
    font-size: 6rem;
    font-weight: 700;
}

.headerInfo h2 {
    font-size: 2.2rem;
    font-weight: 100;
    padding: 34px 0;
}

.headerImage {
    min-width: 400px;
    width: 600px;
}