.commuteOptions {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.routeResults {
    padding-top: 200px;
    text-align: center;
}

.routeResults h3 {
    font-family: $heading-font;
}

.commuteText {
    padding: 30px 0;
}

.mapImage {
    width: 100%;
}

.commuteResult {
    min-width: 400px;
    width: 45%;
    background-color: $tertiary-color;
    border-radius: 50px;
    background: #f4e6e8;
    box-shadow:  10px 10px 30px #cfc4c5, -10px -10px 30px #ffffff;
}

.commuteResult img {
    width: 250px;
    margin: 0 auto;
}

.recommendation {
    padding: 30px;
    text-align: left;
    font-size: 1.8rem;
}


@media (max-width: 950px) {

    .routeResults h3 {
        line-height: 3.5rem;
    }

    .commuteOptions {
        flex-direction: column-reverse;
        align-items: center;
    }

    .commuteResult {
        width: 70%;
        margin: 40px 0;
        padding: 20px 0;
    }

    .mapImage {
        width: 100%;
    }
}

@media (max-width: 450px) {
    // ROUTE RESULT MOBILE STYLES //

    .commuteOptions {
        flex-direction: column-reverse;
    }

    .commuteText {
        text-align: left;
    }
    
    .mobileRouteTypeImg {
        width: 150px;
        margin: 0 auto;
    }

    // .pedestrianResult,
    // .bicycleResult {
    //     width: 80%;
    //     margin: 30px auto;
    //     padding: 0px 30px;
    //     background-color: $tertiary-color;
    //     box-shadow:  10px 10px 30px #cfc4c5, -10px -10px 30px #ffffff;
    // }
}