.commuteOptions {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.routeResults {
    padding-top: 200px;
    text-align: center;
}

.routeResults h3 {
    font-family: $heading-font;
}

.commuteText {
    padding: 30px 0;
}

.mapImage {
    width: 100%;
}

.commuteResult {
    width: 45%;
    background-color: $tertiary-color;
    border-radius: 50px;
    background: #f4e6e8;
    box-shadow:  10px 10px 30px #cfc4c5, -10px -10px 30px #ffffff;
}

.commuteResult img {
    // max-width: 250px;
    width: 40%;
    margin: 0 auto;
}

.recommendation {
    padding: 30px;
    text-align: left;
    font-size: 1.8rem;
}


@media (max-width: 950px) {
    .commuteResult img {
        padding: 10px 0;
        min-width: 100px;
        margin: 0 auto;
    }
    
    .commuteResult button {
        font-size: 1.4rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px 15px;
    }

    .routeResults h3 {
        line-height: 3.5rem;
    }

    .routeType {
        text-transform: uppercase;
    }

    .mapImage {
        width: 100%;
    }
}

@media (max-width: 450px) {
    // ROUTE RESULT MOBILE STYLES //

    .commuteText {
        text-align: left;
    }
    
    .mobileRouteTypeImg {
        width: 150px;
        margin: 0 auto;
    }

    .commuteResult button {
        margin-bottom: 20px;
    }

    .recommendation {
        display: none;
    }

}