.podcastContent {
    padding-top: 80px;
    background-image: url('../assets/triangle.svg');
    background-repeat: no-repeat;
}

.podcastResults {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pickPodcast  {
    text-align: right;
}

.pickPodcast h3 {
    padding-bottom: 20px;
    font-family: $heading-font;
}

.pickPodcast p {
    font-size: 1.8rem;
}

.podcastResults {
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.podcastCard {
    width: 45%;
    background-color: white;
    margin: 20px 0;
    padding: 30px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podcastResults img {
    border-radius: 25px;
    margin: 0 auto;
}

.podcastResults h4 {
    padding: 30px 0;
    text-align: left;
    font-size: 2.2rem;
}

.podcastResults p {
    text-align: left;
}

.readMore {
    text-transform: uppercase;
    text-align: left;
    display: block;
    font-weight: bold;
    padding-top: 10px;
}

.finalPodcastContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}
 
.finalPodcastImage {
    width: 30%;
    
}

.finalPodcastImage img {
    border-radius: 50px;
    width: 100%;
}

.finalPodcastInfo {
    width: 60%;
    text-align: left;
    padding-right: 50px;
}

.finalPodcastInfo h3 {
    font-size: 3.5rem;
    line-height: 3.8rem;
    font-family: $heading-font;
    padding-bottom: 20px;
    
}

.choosePodcastButton {
    margin-top: 20px;
    background-color: $tertiary-color;
    color: $primary-color;
}

// .selectedAudio h3 {
//     text-align: center;
//     
//     padding-bottom: 60px;
// } 

.selectedAudio {
    background-color: $tertiary-color;
    border-radius: 50px;
    
}

.finalPodcastTag {
    padding: 80px 0 40px 0;
    text-align: center;
    font-family: $heading-font;
}

.finalPodcastAudio {
    margin: 20px auto;
    width: 70%;
    padding: 0 50px;
    border-radius: 50px;
    display: block;
    background-color: #181818;
    
}

.audioDiv {
    padding: 40px 0;
}