@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/map";
@import "partials/podcast";
@import "partials/form";
@import "partials/preloader";


// GLOBAL STYLES //

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: $font-color;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

// responsive map Test
.mapContainer {
  width: 100%;
  border-radius: 20px;
}

.map {
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 450px) {

    //GLOBAL MOBILE STYLES //
    h1 {
        font-family: $heading-font;
        color: $font-color;
        font-weight: 700;
        font-size: 5rem;
        line-height: 4.5rem;
        margin-bottom: 0;
    }

    h3 {
        font-family: $heading-font;
        color: $font-color;
        font-size: 3.5rem;
        text-align: left;
        line-height: 3rem;
        margin-bottom: 0;
    }

    button {
        background-color: white;
        font-family: $body-font;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px 40px;
        border-radius: 50px;
        border: none;
        font-size: 2rem;
  }
}

